[submodule "externals/unitree_sdk2_python"]
	path = externals/unitree_sdk2_python
	url = https://github.com/unitreerobotics/unitree_sdk2_python
[submodule "externals/unitree_rl_gym"]
	path = externals/unitree_rl_gym
	url = https://github.com/unitreerobotics/unitree_rl_gym
[submodule "catkin_ws/catkin_ws/src/fast_gicp"]
	path = catkin_ws/catkin_ws/src/fast_gicp
	url = https://github.com/koide3/fast_gicp
[submodule "catkin_ws/catkin_ws/src/FAST_LIO"]
	path = catkin_ws/catkin_ws/src/FAST_LIO
	url = https://github.com/hku-mars/FAST_LIO
[submodule "catkin_ws/catkin_ws/src/livox_ros_driver"]
	path = catkin_ws/catkin_ws/src/livox_ros_driver
	url = https://github.com/Livox-SDK/livox_ros_driver
[submodule "catkin_ws/catkin_ws/src/Livox-SDK"]
	path = catkin_ws/catkin_ws/src/Livox-SDK
	url = https://github.com/Livox-SDK/Livox-SDK
[submodule "catkin_ws/catkin_ws/src/realsense-ros"]
	path = catkin_ws/catkin_ws/src/realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros
[submodule "externals/ROMP"]
	path = externals/ROMP
	url = https://github.com/Arthur151/ROMP.git
